@use '../abstracts' as *;

.sort-by {
  display: flex;
  align-items: center;
}

.sort-by__header {
  @media (max-width: $mobile-big-width) {
    margin-top: 32px;
  }
}

.sort-by__label {
  @include font(rem(14px), line-height(20px, 14px), 600, $color-placeholder);
  margin-right: 16px;
  letter-spacing: 0.16px;
}

.sort-by__value {
  @include font(rem(14px), line-height(20px, 14px), 600, $color-label);
  letter-spacing: 0.16px;
}

.container-value {
  display: flex;
  align-items: center;
  cursor: pointer;
}
