@use '../abstracts/constants' as *;

.header {
  @media (max-width: $mobile-big-width) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.header__button-open-nav {
  display: none;
  margin-top: 8px;
  background: none;
  border: 0;
  cursor: pointer;

  @media (max-width: $mobile-big-width) {
    display: block;
  }
}

.burger-icon {
  pointer-events: none;
}

.header__header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile-big-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header__main {
  margin: 40px 0 32px;

  @media (max-width: $mobile-big-width) {
    margin: 40px 0 24px;
  }
}

.header__title {
  @media (max-width: $mobile-big-width) {
    position: absolute;
  }
}
