@use '../abstracts/constants' as *;

.sidebar {
  min-width: $sidebar-width;
  min-height: 100vh;
  padding-top: 32px;
  background: $color-background;

  @media (max-width: $tablet-medium-width) {
    min-width: $sidebar-tablet-width;
  }

  @media (max-width: $mobile-big-width) {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    // border: 3px solid;
    display: none;
    width: 100vw;
    min-width: $sidebar-tablet-width;
    background: $color-off-white;
  }
}
