@use '../abstracts/constants' as *;

.sidebar {
  min-width: $sidebar-width;
  min-height: 100vh;
  padding-top: 32px;
  background: $color-background;

  @media (max-width: $tablet-medium-width) {
    min-width: $sidebar-tablet-width;
  }

  @media (max-width: $mobile-big-width) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    width: 100vw;
    min-width: $sidebar-tablet-width;
    background: $color-off-white;
    // border: 3px solid;
    transform: translateX(0);
    // transform: translateX(-100%);
    transition: transform 500ms;
  }
}

.navigation-open {
  transform: translateX(-100%);
}

.disable-scroll {
  overflow: hidden;
}

.sidebar__button-close-nav {
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-top: 8px;
  margin-right: 24px;
  background: $color-background;
  border: 0;
  border-radius: 12px;
  cursor: pointer;

  @media (max-width: $mobile-big-width) {
    display: block;
  }
}

.cross-icon {
  pointer-events: none;
}

.sidebar-nav {
  @media (max-width: $mobile-big-width) {
    display: flex;
    justify-content: space-between;
  }
}
