@use '../abstracts/constants' as *;

.sidebar {
  min-width: $sidebar-width;
  padding-top: 32px;
  background: $color-background;

  @media (max-width: $tablet-medium-width) {
    min-width: $sidebar-tablet-width;
  }
}
