@use '../abstracts/constants' as *;

.wrapper-main {
  display: flex;
  max-width: $content-width;
  min-height: 100vh;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  max-width: $main-content-width;
  margin: 0 auto;
  padding: 0 32px;

  @media (max-width: $tablet-width) {
    padding: 0 24px;
  }
}
