@use '../abstracts' as *;

* {
  box-sizing: border-box;
}

body {
  @extend %font-primary;
  @include font(1rem, line-height(28px, 18px), 400, $color-body);
}

h1 {
  @include font(rem(44px), line-height(54px, 44px), 700, $color-title-active);
}

h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}
